In [1]:
import pandas as pd

In [2]:
dd = pd.DataFrame()
dd

Empty DataFrame
Columns: []
Index: []

In [3]:
row = pd.Series([1,2,3],index=['a','b','c'])
row

a    1
b    2
c    3
dtype: int64

In [4]:
row['d']=4
row

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
row['z']=26
row

a     1
b     2
c     3
d     4
z    26
dtype: int64

In [6]:
row['f']=6
row

a     1
b     2
c     3
d     4
z    26
f     6
dtype: int64

In [7]:
dd

Empty DataFrame
Columns: []
Index: []

In [8]:
dd = dd.append(row, ignore_index=True)
dd

     a    b    c    d    f     z
0  1.0  2.0  3.0  4.0  6.0  26.0