In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    '中文':[['我爱','中国'],['她哎','母鸡']],
    'English':[['woai','zhongguo'],['taai','muji']],
    'score':[[0.98,0.97],[0.98,0.87]]
})
data

         中文           English         score
0  [我爱, 中国]  [woai, zhongguo]  [0.98, 0.97]
1  [她哎, 母鸡]      [taai, muji]  [0.98, 0.87]

In [2]:
file = 'data2.csv'
data.to_csv(file)

data1 = pd.read_csv(file,index_col=0)
data1

             中文               English         score
0  ['我爱', '中国']  ['woai', 'zhongguo']  [0.98, 0.97]
1  ['她哎', '母鸡']      ['taai', 'muji']  [0.98, 0.87]

In [3]:
data1.中文[0]

"['我爱', '中国']"

In [4]:
data1.score[0]

'[0.98, 0.97]'